<div class="form-new-comment">
  <%= simple_form_for([campaign, comment], remote: true) do |f| %>
  <%= f.input :content, label: false %>
  <div class="new-comment-submit">
    <%= f.submit 'Comment', class: 'more-button more-button:hover', id: 'new-comment' %>
  </div>
    <% end %>
</div>
