// Container for centering content
.container {
  display: flex;
  justify-content: space-around;
}

// Banner

body {
  background: white;
}

.banner {
  display: flex;
  margin: 135px auto 60px auto;
  border: 0.5px solid #000000;
  width: 1300px;
  height: 500px;
  position: relative;
  .frame {
    margin-top: 30px;
    margin-left:50px;
    padding-right: 25px;
    width: 650px;
  }
  .logo-big {
    margin-bottom: -20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    padding: 0 25px;
  }
   .tagline {
    font-size: 40px;
    max-lines: 2;
    height: 100px;
    padding: 0px 25px;
    margin-bottom:87px;
  }
    .all-campaign-btn {
    width: 145px;
    height: 70px;
    border: .5px black solid;
    font-size: 17px;
    line-height: 124.9%;
    text-align: center;
    letter-spacing: 0.03em;
    text-indent: 1px;
    padding: 13px 27px;
    color: black;
    margin-left: 27px;
  }
   .all-campaign-btn:hover {
    color: blue;
    text-decoration: none;
  }

  .picture{
    width: 650px;
    height:99.9%;
  }
}

.all-campaign-btn {
width: 145px;
height: 70px;
border: .5px black solid;
font-size: 17px;
line-height: 124.9%;
text-align: center;
letter-spacing: 0.03em;
text-indent: 1px;
padding: 13px 27px;
color: black;
margin-left: 65px;
}

.all-campaign-btn:hover {
color: blue;
text-decoration: none;

}

// Explanation of aim

.aim-explanation {
  margin: 60px auto 60px auto;
  background-color: white;
}

.part-explanation {
  width: 1050px;
}

.explanation-title {
  button {
    text-decoration: none;
    color: black;
  }
  button:hover {
    text-decoration: none;
    color: blue;
  }
  button:focus {
    text-decoration: none;
  }
  h2 {
    vertical-align: middle;
  }
  height: 100px;
  display:flex;
  align-items: center;

}

.content-how {
  background-color: #e7daf5;
  padding: 40px;
}

// Overview campaigns
.latest-campaign {
  margin: 40px auto 40px auto;
}


// Link to all campaigns
.more-campaign-button {
  display: flex;
  align-items: center;
  text-align: center;
}

.more-button {
  border: .5px black solid;
  font-size: 17px;
  letter-spacing: 0.03em;
  padding: 18px 27px 0px 27px;
  color: black;
}
