

.more-button {
width: 142px;
height: 55px;
border: .5px black solid;
font-size: 17px;
line-height: 124.9%;
text-align: center;
letter-spacing: 0.03em;
text-indent: 1px;
padding: 13px 27px;
color: grey;
}

.more-button:hover {
color: #000000;
text-decoration: none;
}


//
.all-campaign-button {
width: 145px;
height: 70px;
border: .5px black solid;
font-size: 17px;
line-height: 124.9%;
text-align: center;
letter-spacing: 0.03em;
text-indent: 1px;
padding: 13px 27px;
color: grey;
}

.all-campaign-button:hover {
  color: #000000;
  text-decoration: none;
}






.card-campaign {
  background: white;
  width: 333px;
  margin:50px;
  font-size: 19px;
  line-height: 124.9%;
  letter-spacing: 0.03em;
  text-indent: 1px;
}

.card-campaign-infos {
  padding:20px 0 20px 20px;
  width: 333px;
}

.card-campaign h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 124.9%;
  letter-spacing: 0.02em;
  text-indent: 1px;
}

.card-campaign .descript {
  font-family: "Crimson Text";
  line-height: 124.9%;
  letter-spacing: -0.02em;
  text-indent: 1px;
}

.card-campaign .date {
  font-weight: bold;
}









.footer {
  background:  #FFF734;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
  justify-content:center;
  transition: all .4s ease-in;
    .footer-info {
      display:none;
  }
}

.footer:hover {
  height: 200px;
  transform: scale(1.1);
  .footer-title {
    display:none;
  }
  .footer-info {
    display:block;
    text-align:center;
    font-size:13px;
  }
}





.footer-links {
  display: flex;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.fab {
  width: 17px;
}



