
<div class="navbar">
  <div class="nav-aim">
    <%= link_to 'AIM', root_path, class:"aim" %>
  </div>
<div class="menu">
  <% if current_user %>
    <div class="profil">
      <%= link_to 'PROFILE', user_path(current_user) %>
    </div>

    <div class="login">
      <%= link_to 'LOG OUT', destroy_user_session_path(current_user), method: :delete %>
    </div>
  <% else %>
    <div class="login">
      <%= link_to 'LOG IN', new_user_session_path %>
    </div>
  <% end %>
</div>
</div>






