


<div class="grid">
  <div class="nav-aim">
    <a href="#">AIM</a>
  </div>
  <div class="menu">
    <div class="profil">
      <a href="#">PROFIL</a>
    </div>

    <div class="login">
      <a href="#">LOG IN</a>
    </div>
  </div>
</div>






