

<div class="banner">
  <div class="frame">
    <p class="logo-big">AIM</p>
    <h1 class="tagline">Do things that matter<br>
    better, together</h1>
      <a href="#" class="all-campaign-button">ALL CAMPAIGNS</a>
  </div>
  <div class="banner-img">
    <%= image_tag "protest.png", alt:"protest", class:"banner-picture"%>
  </div>
</div>



<div class="how-wrap">
  <div class=flexxxing>
    <div class="how-we-do">
      <h1>HOW WE DO IT</h1>
    </div>
    <div class="link-move">
      <a href='#' class='link-t'>Read more</a>
    </div>
  </div>

   <div class="para">
    <p class="content d-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, aliquid ullam? Esse aut, nesciunt repellendus aliquid ex fugit iusto velit ullam facere iste nihil, deleniti perspiciatis molestias, sequi veritatis earum?
    </p>
 </div>
</div>

<div class="how-wrap1">
  <div class=flexxxing>
    <div class="how-we-do">
      <h1>HOW WE DO IT</h1>
    </div>
    <div class="link-move">
      <a href='#' class='link-t'>Read more</a>
    </div>
  </div>

   <div class="para">
    <p class="content d-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, aliquid ullam? Esse aut, nesciunt repellendus aliquid ex fugit iusto velit ullam facere iste nihil, deleniti perspiciatis molestias, sequi veritatis earum?
    </p>
 </div>
</div>

<div class="how-wrap1">
  <div class=flexxxing>
    <div class="how-we-do">
      <h1>HOW WE DO IT</h1>
    </div>
    <div class="link-move">
      <a href='#' class='link-t'>Read more</a>
    </div>
  </div>

   <div class="para">
    <p class="content d-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, aliquid ullam? Esse aut, nesciunt repellendus aliquid ex fugit iusto velit ullam facere iste nihil, deleniti perspiciatis molestias, sequi veritatis earum?
    </p>
 </div>
</div>

<div class="card-campaign">
  <div class="card-campaign">
   <%= image_tag "protest.png", alt:"protest", class:"card-img" %>
    <div class="card-campaign-infos">
      <h2>Friday for Future</h2>
      <p class="descript">On 27 September, an estimated 2 million people participated in demonstrations worldwide.</p>
      <p class="date">13.February 2020</p>
      <a href="#" class="join">Join</a>
    </div>
  </div>

  <div class="card-campaign">
    <%= image_tag "protest.png", alt:"protest", class:"card-img" %>
    <div class="card-campaign-infos">
      <h2>Friday for Future</h2>
      <p class="descript">On 27 September, an estimated 2 million people participated in demonstrations worldwide.</p>
      <p class="date">13.February 2020</p>
      <a href="#" class="join">Join</a>
    </div>
  </div>

  <div class="card-campaign">
    <%= image_tag "protest.png", alt:"protest", class:"card-img" %>
    <div class="card-campaign-infos">
      <h2>Friday for Future</h2>
      <p class="descript">On 27 September, an estimated 2 million people participated in demonstrations worldwide.</p>
      <p class="date">13.February 2020</p>
      <a href="#" class="join">Join</a>
    </div>
  </div>
</div>

<div class="more-campaign-button">
  <a href="#" class="more-button .more-button:hover">MORE</a>
</div>


<div class="footer">
  <p class="footer-title">CONTACT</p>
  <div class="footer-info">
    AIM<br>
    Rudi Dutschke Strasse 26<br>
    19001 Berlin<br>
    + 49(0)1522 92 64 729<br>
    hello@aimagency.com<br>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
</div>


