<br>
<br>
<a href="#" class="more-button">MORE</a>
<a href="#" class="all-campaign-button">ALL CAMPAIGNS</a>






<div class="card-trip">
 <%= image_tag "protest.png", alt:"protest", class:"card-img" %>
  <div class="card-trip-infos">
    <h2>Friday for Future</h2>
    <p class="descript">On 27 September, an estimated 2 million people participated in demonstrations worldwide.</p>
    <p class="date">13.February 2020</p>
    <p class="join"><a href="#" class="join">Join</a></p>
  </div>
</div>




<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
