<br>
<br>
<a href="#" class="more-button">MORE</a>
<a href="#" class="all-campaign-button">ALL CAMPAIGNS</a>






  <div class="card-trip">
   <%= image_tag "protest.png", alt:"protest", width:"333px"%>
    <div class="card-trip-infos">
      <h2>Friday for Future</h2>
      <p class="descript">On 27 September, an estimated 2 million people participated in demonstrations worldwide.</p>
      <p class="date">13.February 2020</p>
      <p class="join">Join</p>
    </div>
  </div>
