// Selection campaigns

// Purple Banner
.latest-campaign {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:95px;
  border: #5c4aff solid 15px;
  margin-bottom: 100px;
  color: black;
}

.latest-c {
  font-size: 23px;
  padding-top:7px;
  font-weight:700;
}


.curent-campaign {
 margin-top: 100px;
 margin-bottom: -10px;
}

.featured_campaign {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  align-items: center;

  a {
    max-width: 35%;
  }


.featured_campaign_text {
  padding: 20px 50px;
  min-width: 25%;
  height:266px;
  border: #8DB567 solid 15px;
  a {
    text-decoration: underline;
    color: black;
  }
  a:hover {
    color: blue;
    }
  }
}


 .feature-button {
margin-top:20px;
 }

#cause_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 auto;
}

@media(max-width: 1440px) {
  #cause_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 992px) {
  #cause_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  #cause_container {
    grid-template-columns: 1fr;
  }
}

.title_container {
  width: 80vw;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 100px;
}

  .remove-link:hover {
    color: blue;
    text-decoration: none;
  }

.fund-container {

}
.lgbtq-container {
  margin-top: 0;
}


