// Selection campaigns

// Purple Banner
.latest-campaign {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:95px;
  border: #5c4aff solid 15px;
  margin-bottom: 100px;
  color: black;
}

.latest-c {
  font-size: 23px;
  padding-top:7px;
  font-weight:700;
}


.curent-campaign {
 margin-top: 100px;
 margin-bottom: -10px;
}

.featured_campaign {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  align-items: center;

  a {
    max-width: 35%;
  }


.featured_campaign_text {
  padding: 20px 50px;
  min-width: 25%;
  height:266px;
  border: #8DB567 solid 15px;
  a {
    text-decoration: underline;
    color: black;
  }
  a:hover {
    color: blue;
    }
  }
}


.feature-button {
  margin-top:20px;
  border: .5px solid #5c4aff;
  padding: 5px 14px;
  opacity: .7;
  font-size: 12px;
  font-weight: bolder;
  color: #5c4aff;
}

.cause-container {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  display: flex;
  justify-content: space-around;
  //padding: 20px;
}

@media(max-width: 1440px) {
  .cause-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 992px) {
  .cause-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cause-container {
    grid-template-columns: 1fr;
  }
}

  .remove-link:hover {
    color: blue;
    text-decoration: none;
  }

#index-page {
  margin-top: 150px;
}

.index-title {
  margin: 50px 0 50px 80px;
}
