// Selection campaigns



.feature-button {
  margin-top:20px;
}

.cause-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  //padding: 20px;
}

@media(max-width: 1440px) {
  .cause-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 992px) {
  .cause-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cause-container {
    grid-template-columns: 1fr;
  }
}

.title_container {
  width: 80vw;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 100px;
}

  .remove-link:hover {
    color: blue;
    text-decoration: none;
  }

.fund-container {

}
.lgbtq-container {
  margin-top: 0;
}


