#show-campaign-users {
  padding-right: 5px;
}

#live-div {
  display: flex;
  //align-content: center;
}
#live-stamp {
  color: rgba(10, 10, 10, 0.5);
  font-family: 'Anonymous Pro', monospace;
  font-size: 23px;
  margin-left: 10px;
  }
.pulse {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFF734;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

// banner styling
.header {
  display: flex;
  margin: 100px auto;
  margin-bottom:50px;
  border: 0.5px solid #000000;
  width: 1300px;
  height: 500px;
  position: relative;
  padding-right: 30px;
  .header-content {
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    margin-left:50px;
    padding: 24px;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;

    h1 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 1.5rem;
    }
    h2 {
      font-size: 18px;
      max-lines: 2;
      height: 100px;
    }

    #campaign-users {
      display: flex;
    }
  }
  .campaign-picture {
    width: 650px;
    height:99.9%;
    position: relative;
    // position: absolute;
    // left: -0.5px;
    // top: -0.5px;
  }
  .brand-logo {
  position: absolute;
  right: 2%;
  top: 5%
  }
}


.container-button {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 40px auto;
}




// content styling
.content {
  width: 750px;
  margin: 100px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-show-btn{
  display:flex;
  width: 1300px;
  margin: 50px auto;

  justify-content: space-between;
}

.join-button {
  background-color: rgba(96, 85, 192, 0.2);
}

// Styling comments

.comment-header {
  margin-bottom:35px;
  text-align: center;
}

.container-comments {
  width: 1100px;
  padding-top: 60px;
  margin: 0 auto 180px auto;
  background: rgba(96, 85, 192, 0.2);
}

// styling form to enter a comment
.new_comment {
  width: 650px;
   margin: 0 auto;
  .form-control.text.required {
  width: 550px;

  }
  #new-comment {
  height: 50px;
  }
}

// styling comment show
#comment-content {
  margin-left: 30px;
}

#comment-info {
  margin: 0 0 3px 0;
}

#all-comments {
    width: 800px;
    text-align: justify;
    justify-content:center;
    margin: 20px auto;
  #empty-comment {
    margin : 0 auto;
    text-align: center;
  }
  #comments-display {
    align-items: center;
    margin: 20px auto;
    padding-left: 100px;
    display: flex;
  }
}
