


// More-button
.more-button {
width: 142px;
height: 55px;
border: .5px black solid;
font-size: 17px;
line-height: 124.9%;
text-align: center;
letter-spacing: 0.03em;
text-indent: 1px;
padding: 13px 27px;
color: black;
}

.more-button:hover {
  color: blue;
  text-decoration: none;
}


// all-campaign-button
.all-campaign-button {
width: 145px;
height: 70px;
border: .5px black solid;
font-size: 17px;
line-height: 124.9%;
text-align: center;
letter-spacing: 0.03em;
text-indent: 1px;
padding: 13px 27px;
color: black;
}

.all-campaign-button:hover {
  color: blue;
  text-decoration: none;
}



