
.card-campaign {
  background: white;
  width: 333px;
  margin:50px;
  font-size: 19px;
  line-height: 124.9%;
  letter-spacing: 0.03em;
  text-indent: 1px;
}

.card-campaign-infos {
  padding:20px 0 20px 20px;
  width: 333px;
}

.card-campaign h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 124.9%;
  letter-spacing: 0.02em;
  text-indent: 1px;
}

.card-campaign .descript {
  font-family: "Crimson Text";
  line-height: 124.9%;
  letter-spacing: -0.02em;
  text-indent: 1px;
}

.card-campaign .date {
  font-weight: bold;
}

.join  {
  text-decoration: underline;
}
