// Overview three campaigns

.card-flex {
  display:flex;
  justify-items: space-around;
  width: 1300px;
}


.card-campaign {
  background-color: white;
  width: 280px;
  height: 400px;
  font-size: 14px;
  line-height: 124.9%;
  letter-spacing: 0.03em;
  text-indent: 1px;
  position: relative;
  border: .5px solid black;
}

.card-campaign-img {
  //margin: .5px -8px 0px -1px;
}

.card-campaign-infos {
  padding:20px 20px 20px 20px;
  min-height: 240px;
  max-height: 240px;
  // width: 333px;
}

.card-campaign h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-indent: 1px;
}

.card-campaign .descript {
  font-family: 'Poppins', sans-serif;
  line-height: 124.9%;
  letter-spacing: -0.02em;
  text-indent: 1px;
}

.card-campaign .date {
 font-size:16px;
 font-weight: bold;
}

.join  {
  text-decoration: underline;
}



.live-flag {
  width: 278px;
  margin: .5px -8px 0px 0px;
  background-color: #FFF734;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  font-size: 12px;
  position: absolute;
  top: 160px;
}

#campaign-users {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
