
.card-campaign {
  background: white;
  width: 333px;
  margin:50px;
  font-size: 19px;
  line-height: 70%;
}

.card-campaign-infos {
  padding:20px 0 20px 20px;
  width: 333px;
}

.card-campaign h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
}

.card-campaign .descript {
  font-family: 'Poppins', sans-serif;
  line-height: 124.9%;
}

.card-campaign .date {
 font-size:19px;
}

.join  {
  text-decoration: underline;
}

