
.grid {
  display: flex;
  justify-content: flex-end;
  border:solid .5px black;
  align-items: center;
}

.profil, .login, .aim {
  display:flex;
  margin:-18px -.5px;
  padding: 18px 55px;
  border:solid .5px black;
}

.aim {
  font-weight: 600px;
  font-size:40px;
  border: none;
  margin: -18px auto;
}


a {
  text-decoration: none;
  color:black;
}

a:hover{
  text-decoration: none;
  color:blue;
}


