<div id="index-page">

  <div id="index-main-title">
    <div class="typewriter">
      <h1 class="typewriter-text">Discover our campaigns</h1>
    </div>
    <br>
    <a href="#global-warming">Global Warming</a> |
    <a href="#lgbtq">LGBTQ</a> |
    <a href="#fundraisers">Fundraisers</a>
  </div>
  <!--Global warming-->
  <a href="" id="global-warming" style="color:transparent">here</a>
  <div class="index-title">
    <h2>#GLOBAL WARMING</h2>
  </div>
  <%= render 'global_warming_cards' %>

  <a href="" id="lgbtq" style="color:transparent">here</a>
  <div class="index-title">
    <h2>#LGBTQ</h2>
  </div>
  <%= render 'lgbtq_cards' %>

  <!--Fundraisers-->
  <a href="" id="fundraisers" style="color:transparent">here</a>
  <div class="index-title">
    <h2>#FUNDRAISERS</h2>
  </div>
  <%= render 'fundraisers_cards' %>
  <br>
  <br>
  <div style="text-align: center">
    <p>Back to:</p>
    <a href="#global-warming">Global Warming</a> |
    <a href="#lgbtq">LGBTQ</a> |
    <a href="#fundraisers">Fundraisers</a>
  </div>
</div>
