<div id="index-page">

  <!--Global warming-->
  <div class="index-title">
    <h2>GLOBAL WARMING</h2>
  </div>
  <%= render 'global_warming_cards' %>

  <div class="index-title">
    <h2>LGBTQ</h2>
  </div>
  <%= render 'lgbtq_cards' %>

  <!--Fundraisers-->

  <div class="index-title">
    <h2>FUNDRAISERS</h2>
  </div>
  <%= render 'fundraisers_cards' %>
  <br>
  <br>

</div>
