// User profile

.user-story {
 display:flex;
 justify-content: center;
 text-align:center;
 margin:150px 120px 0 120px;
 padding: 70px 0 50px 0;
}
  .user-card {
    width: 430px;
    height: 550px;
    padding: 40px 30px;
    border: solid 1px black;
  }
  .user-image {
    text-align:center;
    .fab {
      margin-top:25px;
      font-size:35px;
    }
  }
  .user-info {
    font-family: Roboto;
    font-size: 15px;
    line-height: 27px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 30px;
    display:inline;
    flex-direction: column;
    text-align:center;
  }

  .user-about {
    text-align:left;
    margin-top:90px;
    margin-bottom:34px;
    margin-left:50px;
    max-width: 500px;
    min-height: 258px;
  }


.avatar-user-card {
  border-radius: 100%;
}

.test {
  flex-direction: column;
   .user-about {
    text-align:center;
    margin-bottom:43px;
  }
}

p {
  font-weight: 300;
}

// Display campaigns
.profile-container {
  display: flex;
  justify-content: space-around;
}

.profile-campaigns-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .card-campaign {
    margin: 40px;
  }
}
