
#card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 40vw;
  margin: 0px auto 100px auto;
}



.user-story {
 display:flex;
 margin: 0 auto;
text-align:center;
  .user-card {
    width: 430px;
    height: 550px;
    padding: 60px 40px;
    border: 15px solid #5C4AFF;
  .user-image {
    text-align:center;
    .fab {
      margin-top:25px;
      font-size:35px;
    }
  }
  .user-info {
    font-family: Roboto;
    font-size: 15px;
    line-height: 27px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 30px;
    display:inline;
    flex-direction: column;
  }
 }
}
.test {
  flex-direction: column;
   .user-about {
    text-align:center;
  }
  .user-assets {
    border: 15px solid #5C4AFF;
    margin-left: 50px;
    max-width: 500px;
    max-height: 300px;

  }
}








.user-info {
  font-family: Roboto;
  font-size: 15px;
  line-height: 27px;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 30px;
}

.user-about {
  margin-left: 50px;
  max-width: 500px;
  max-height: 300px;
  border: 15px solid #5C4AFF;
  padding:40px;

}

p {
  font-weight: 300;
}






.avatar-user-card {
  border-radius: 100%;
}



.share-link {
  border: .5px solid black;
  padding: 5px 10px;
  border-radius: 3px;
  opacity: .7;
  font-size: 12px;
  color: black;
  position: absolute;
  bottom: 80px;
  right: 30px;
}
